*.pyc

# Environment settings
.env
joggerenv.cfg

# Vagrant
.vagrant/
provision/env.sh
provision/conf/user/.gitconfig

# Sphinx documentation
docs/_build/

# Testing
htmlcov

# Distribution/packaging
dist/
*.egg-info/
