# Django
Django==5.2.9  # keep in sync with docs/requirements.txt
tzdata==2025.3

# Testing/Linting
coverage==7.13.1
ruff==0.14.10
tox==4.32.0

# Documentation
sphinx
sphinx_rtd_theme==3.0.2  # keep in sync with docs/requirements.txt

# Building/releasing
build==1.3.0
twine==6.2.0

# Task runner
task-jogger==2.0.2
