services:
  
  db:
    # Pin major version to avoid data incompatibility issues preventing the
    # container from starting (existing data in old formats not compatible
    # with new versions)
    image: postgres:18
    volumes:
      - .volumes/db:/var/lib/postgresql
    environment:
      - POSTGRES_DB=djem
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
  
  djem:
    container_name: djem
    build: .
    volumes:
      - .:/opt/app
    
    stdin_open: true
    tty: true
    
    depends_on:
      - db
