name: tests  # displayed on README badge

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      # Prevent a failure in one job from cancelling
      # remaining jobs in the matrix
      fail-fast: false
      # Keep this version matrix in line with tox.ini
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']
        django-version: [
          'Django>=4.2,<5.0',
          'Django>=5.0,<5.1', 'Django>=5.1,<5.2', 'Django>=5.2,<6.0',
          'Django>=6.0,<6.1'
        ]
        exclude:
          # Django 4.x max version 3.13 (3.14+ actively incompatible)
          - python-version: '3.14'
            django-version: 'Django>=4.2,<5.0'
          # Django 5.x min version 3.10, max version 3.13 (3.14+ actively incompatible)
          - python-version: '3.9'
            django-version: 'Django>=5.0,<5.1'
          - python-version: '3.9'
            django-version: 'Django>=5.1,<5.2'
          - python-version: '3.9'
            django-version: 'Django>=5.2,<6.0'
          - python-version: '3.14'
            django-version: 'Django>=5.0,<5.1'
          - python-version: '3.14'
            django-version: 'Django>=5.1,<5.2'
          - python-version: '3.14'
            django-version: 'Django>=5.2,<6.0'
          # Django 6.x min version 3.12
          - python-version: '3.9'
            django-version: 'Django>=6.0,<6.1'
          - python-version: '3.10'
            django-version: 'Django>=6.0,<6.1'
          - python-version: '3.11'
            django-version: 'Django>=6.0,<6.1'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      - name: Install dependencies
        run: pip install coverage coveralls pytz "${{ matrix.django-version }}"
      - name: Run tests
        run: |
          coverage run --branch manage.py test --no-input
          coverage report --skip-covered
      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          coveralls --service=github
